URxvt.scrollBar_right: true
URxvt.scrollBar_floating: true
URxvt.scrollstyle: plain
URxvt.cursorBlink: true
URxvt.saveLines: 3000
URxvt.font: xft:JetBrainsMono Nerd Font Mono-11, xft:IPAGothic, xft:PowerlineSymbols
URxvt.foreground: #d6deeb
URxvt.background: #011627
URxvt.cursorColor: #d6deeb
URxvt.color0: #011627
URxvt.color8: #575656
URxvt.color1: #ef5350
URxvt.color9: #ef5350
URxvt.color2: #22da6e
URxvt.color10: #22da6e
URxvt.color3: #addb67
URxvt.color11: #ffeb95
URxvt.color4: #82aaff
URxvt.color12: #82aaff
URxvt.color5: #c792ea
URxvt.color13: #c792ea
URxvt.color6: #21c7a8
URxvt.color14: #7fdbca
URxvt.color7: #ffffff
URxvt.color15: #ffffff
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Left: \033[1;5D
URxvt.keysym.Control-Right: \033[1;5C
